@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lato:700i');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import 'mixin.scss';
@import 'bootstrap.scss';
@import 'variables.scss';

body {
	font-family: 'Montserrat', sans-serif;
}
.section {
	&_container {
		margin: 0 auto;
		text-align: center;
		margin-bottom: $big;
	}
	&_head {
		font-family: 'Kaushan Script', cursive;
		font-size: 24px;
		margin-top: 60px;
	}
	&_title {
		font-size: 28px;
		font-weight: bold;
		height: 28px;
		padding: 0 $ten;
	}
	&_line:after {
		@include pseudoelement;
		border-bottom: $line;
		width: $big;
		vertical-align: middle;
	} 
	&_text {
		margin: $mid auto;
		font-size: 14px;
		padding: 0 10%;
		width: 90%;
	}
}

/* ========== HEADER ==========*/

.header {
	background: url(../images/1-header/eagle.jpg) no-repeat center center / cover;
	position: $rel;
    padding-bottom: $big;
    &:after {
		@include pseudoelement;
        height: 100%;
        width: 100%;
        background: $gradient;
        position: absolute;
        top: 0;
        left: 0;
		z-index: 1;
	}
}
.navbar-my {
	z-index: 2;
    .logo {
        margin-left: 4%;
        font-size: 24px;
        font-weight: bold;
        color: #fff;
    }
    .navbar-collapse-my {
        background: $tran;
        border-bottom: none !important;
        .navbar-nav {
			margin-right: 4%;
			li:hover .nav-link-my {
				color: #FFFF33;
				transform: translate(0, $ten);
				transition: 1s;
			}
            .nav-link-my {
                color: #fff;
                z-index: 5;
                font-weight: 600;
            }
        }
    }
}

/* ========== HEADER CAROUSEL ========== */

.carousel {
	z-index: 2;
	&_mogo {
		font-size: 60px;
		font-family: 'Kaushan Script', cursive;
		color: #fff;
		z-index: 2;
	}
	&_p {
		font-size: 110px;
		font-weight: 700;
		color: #fff;
	}
	&_p, &_mogo {
		text-align: center;
		line-height: 1;
	}
	&_btn {
		@include flexy;
		color: #fff;
		background: $tran;
		border: 2px solid #fff;
		padding: $ten;
		margin: 80px auto;
		width: 150px;
		height: $mid;
		line-height: 1;
		position: $rel;
		top: -17px;
		z-index: 6 !important;
		transition: 0.8s;
		cursor: pointer;
		&:hover {
			color: $bl;
			background: #fff;
			transition: 0.8s;
		}
		&:focus, &:active {
			outline: none;
		}
		&:before {
			@include pseudoelement;
			position: absolute; 
			width: $big;
			border-top: 3px solid #fff;
			z-index: 5;
			top: -30px;
		}
	}
}
.indicat-my {
	border-radius: 50%;
	display: block;
	margin-top: 15px;
	margin: $ten;
	height: $small !important;
	width: $small !important;
	transform: translate(0, $big);
	position: $rel;
	z-index: 5;
}
#main-prev, #main-next {
	width: $small;
	height: $small;
	top: 48%;
}
#main-prev {
	left: 7%;
}
#main-next {
	right: 7%;
}

/* ========== story-2 ========== */

.story {
	.col-md-4 {
		margin-bottom: $small;
	}
	&_show {
		position: $rel;
		display: inline-block;
		background: $blue;
		&:hover .story_layer {
			opacity: 0.9;
			left: -$ten;
			top: -$ten;
			transition: 0.5s;
			z-index: 2;		
		}
		&:hover .story_img {
			position: $rel;
			transition: 0.5s;
			transform: translate(-$ten, -$ten);
			z-index: 1;
		}
	}
	&_layer {
		@include flexy;
		flex-direction: column;
		@include layer;
	}
	&_text {
		color: #fff;
		font-size: 18px;
		font-weight: bold;
	}
}

/* ==================== information-3 =====================*/

.info {
	padding: 0;
	background-color: $blue;
	margin-top: 80px;
	&_pack--border {
		border-left: 1px solid white ;
	}
	&_pack, &_pack--border {
		@include infoPack;
	}
	&_number {
		font-size: 60px;
		font-weight: 800;
		color: white;
		margin: 0;
	}
	&_text {
		color: #fff;
		font-size: 18px;
	}
}

/* ================= work-4 ================== */

.work {
	padding-bottom: $mid;
	&_block {
		display: inline-flex;
		margin-bottom: $small;
		margin-top: $small;
		border-bottom: 1px solid #e2e2e2;
	}
	&_icon {
		color: $blue;
		margin-right: 15px;
		font-size: 30px;
		margin-top: 0;
		padding-top: 0;
	}
	&_text {
		font-size: 13px;
	}
}



/*================== design-5 ====================*/

.design {
	background: url(../images/5-design/background.jpg) no-repeat center center / cover;
	background-attachment: fixed;
	padding-top: 30px;
	padding-bottom: 0;
	height: 744px;
	&_devices {
		text-align: center;
		position: $rel;
		margin-top: $big;
	}
	&_tablet {
		width: 400px;
		height: 480px;
	}
	&_phone {
		position: absolute;
		width: 180px;
		bottom: -60px;
		right: 30%;
	}
}

/* ============== panels-6 ============= */

.panels {
	margin-bottom: 1$small;
	&_margin {
		margin-bottom: $small;
	}
	&_card {
		@extend .card;
		margin-bottom: 2px;
		border-bottom: none;
	}
	&_header {
		@extend .card-header;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background: $tran;
		height: 48px;
	}
	&_collapse {
		background: $tran;
		border-bottom: 1px solid rgba(0, 0, 0, 0.125);
		padding-bottom: 0;
	}
	&_text {
		@extend .card-body;
		font-size: 14px;
		font-style: italic;
	}
	&_pack {
		@include flexy;
	}
	&_title {
		margin-left: $ten;
		font-size: 18px;
		padding: 0;
	}
	&_icon {
		color: $blue;
		font-size: 30px;
	}
	&_drop {
		color: #808080;
	}
}

/*=============== team-8 =============*/

.team {
	.col-sm-4 {
		margin-bottom: 15px;
	}
	&_square {
		width: $mid;
		height: $mid;
		background-color: #fce38a;
		color: $red;
		display: inline-block;
		padding: 8px;
		margin: 3px;
		&:hover {
			background: $red;
			color: #fff;
		}
		&:hover .team_icon {
			color: #fff;
		}
	}
	&_icon {
		font-size: $small;
		color: $red;
	}
	&_name {
		margin-top : 30px;
	}
	&_work {
		font-size: 14px;
		font-style: italic;
	}
	&_show {
		position: $rel;
		display: inline-block;
		background: $blue;
		text-align: center;
	}
	&_layer {
		@include flexy;
		@include layer;
	}
}
.layer_hover{
	opacity: 0.9;
	left: -$ten;
	top: -$ten;
	transition: 0.5s;
	z-index: 2;
}
.hover_img {
	position: $rel;
	transition: 0.5s;
	transform: translate(-$ten, -$ten);
	z-index: 1;
}
/* =============== logo-9 ============== */

.symbols {
	margin-top: 60px;
	background-color: #f8f8f8;
	padding: $big 0;
	&_img {
		transition: 0.8s;
		&:hover {
			transform: scale(1.4);
			transition: 0.8s;
		}	
	}
}

/* =========== gallery-10 =========== */

.gallery  {
	.col-md-3 {
		position: $rel;
		display: inline-block;
		margin: 0;
		padding: 0;
		border: none;
		&:hover .gallery_layer, &:hover .gallery_layer--big {
			opacity: 0.9;
		}
		&:hover .gallery_layer--big {
			z-index: 3;
		}
	}
	.position {
		position: absolute;
		z-index: 2;
	}
	i {
		font-size: 30px;
	}
	&_title {
		font-weight: bold;
		font-size: 22px;
		margin-top: $ten;
	}
	&_text {
		font-style: italic;
	}
	&_layer {
		@include flexy;
		flex-direction: column;
		@include layer;
	}
	&_layer--big {
		@extend .gallery_layer;
		height: 200%;
	}
}

/* ============= secondCarousel-11 ============== */

.place {
	@include flexy;
	margin: 0 10%;
	&_photo {
		width: 20%;
		text-align: center;
		margin-right: $ten;
	}
	&_paragraph {
		width: 70%;
	}
	&_photo, &_paragraph {
		margin: $big auto;
		background-color: $tran;
	}
	.paragraph {
		&_text {
			font-family: 'Lato', sans-serif;
			font-style: italic;
			font-size: 18px;
		}
		&_author {
			font-family: 'Kaushan Script', cursive;
			margin-left: 56px;
			position: $rel;
		}
		&_line:before {
			@include pseudoelement;
			width: $big;
			border-bottom: 2px solid red;
			position: absolute;
			left: -55px;
			top: $ten;
		}
	}
	img {
		height: 180px;
		width: 180px;
		border-radius: 50%;
		-moz-border-radius: 50%; 
		-webkit-border-radius: 50%;
		padding: 4px;
		border: 1px solid #ccc ;
	}
}
#second-prev, #second-next {
	filter: invert(100%);
	width: $small;
	height: $small;
	top: 48%;
}
#second-prev {
	left: 7%;
}
#second-next {
	right: 7%;
}
/* ============= options-12 ============= */
.opinions {
	background: url(../images/12-opinions/bg.jpg) no-repeat center center / cover;
	background-attachment: fixed;
	padding: $mid 0;
	&_pack {
		display: flex;
		margin-top: 30px;
	}
	&_photo {
		min-width: 80px;
		margin-right: $ten;
	}
	&_person {
		width: 90%;
	}
	&_name {
		font-family: 'Lato', sans-serif;
		margin-bottom: 5px;
	}
	&_work {
		font-size: 13px;
		font-family: 'Lato';
		position: $rel;
		&:after {
			@include pseudoelement;
			width: $big;
			border-bottom: $line;
			position: absolute;
			top: 25px;
			left: 0;
		}
	}
	&_text {
		font-size: 12px;
		padding-right: $small;
		padding-right: $small;
	}
	img {
		border-radius: 5px;
		width: 80px !important;
		height: 80px;
		margin-right: 30px;	
	}
} 
/* =========== blog-13 ========== */

.blog {
	margin-bottom: 100px;
	&_img {
		max-width: 350px;
	}
	&_pack {
		position: $rel;
	}
	&_date {
		display: block;
		position: absolute;
		background-color: $blue;
		color: #fff;
		left: -$ten;
		bottom: $ten;
		text-align: center;
		padding: $ten 15px;
		&:hover {
			cursor: pointer;
		}
	}
	&_day {
		font-size: 28px;
		font-weight: 700;
		letter-spacing: 2;
	}
	&_month {
		font-size: 16px;
		font-style: italic;
	}
	&_day, &_month {
		margin-top: 0;
		margin-bottom: 0;
		line-height: 100%;
	}
	&_text {
		font-size: 14px;
		color: #999;
	}
	&_title {
		margin-top: 15px;
		color: white;
		&:after {
			@include pseudoelement;
			width: 100%;
			border-top: 1px solid #eee;
			margin: $ten 0;
			background-color: #eee;
		}
		a {
			text-decoration: none;
			color: green;
			&:hover {
				color: $bl;
				text-decoration: none;
			}
		}
	}
	&_btn {
		background: $tran;
		outline: none;
		border: none;
		color: #999;
		margin: 0;
		padding: 5px;
		&:hover {
			color: $bl;
		}
		&:hover i {
			color: $blue;
			margin-right: 5px;
		}
		i {
			margin-right: 5px;
		}
	}
}

/* ============= map-14 ============= */

.map {
	background-image: url(../images/14-map/bg-map.jpg);
	padding: $small;
	color: $red;
	&_pack {
		@include flexy;
		flex-direction: column;
	}
	&_img {
		margin-top: $small;
		display: block;
		visibility: hidden;
		height: 0;
		border: 2px solid #ff9c00;
	}
	&_close {
		display: none;
		justify-content: center;
		margin-top: $small;
	}
	&_open {
		flex-direction: column;
		padding-top: $small;
		position: $rel;
		&_:after {
			@include pseudoelement;
			position: absolute;
			width: 100px;
			border-bottom: $line;
		}
	}
	&_open, &_close, &_text:after, i {
		cursor: pointer;
		font-size: $mid;
		font-weight: bold;
	}
	iframe {
		width: 100%;
		height: 300px;
	}
}


/* ============= footer-15 =============*/
.footer {
	background-color: #F9F9F9;
	color: #999;
	&_pack {
		margin-top: $mid;
	}
	&_title {
		color: #5a5a5a;
		&--big {
			font-size: $mid;
			color: #dadada;
			font-weight: bold;
		}
	}
	&_text {
		font-size: 13px;
		line-height: $small;
		margin-top: 5px
	}
	&_follower {
		margin-top: 15px;
		color: $bl;
		margin-bottom: 12px;
	}
	&_value {
		font-weight: bold;
		font-size: 17px;
		margin-right: 5px;
	}
	&_sites {
		display: flex;
	}
	&_form {
		display: flex;
		margin-top: 15px;
	}
	&_input {
		padding-left: $ten;
		width: 100%;
		border: 1px solid #ECECEC;
		box-shadow: none;
		&:focus {
			border: none;
			box-shadow: none;
			outline: none;
		}
	}
	&_btn {
		width: 160px;
		border: none;
		background-color: $blue;
		color: #fff;
		font-size: 14px;
		font-weight: bold;
	}
	&_input, &_btn {
		height: 45px;
	}
	&_block {
		display: inline-flex;
		margin-bottom: $ten;
	}
	&_img {
		display: flex;
		flex-wrap: wrap;
	}
	img {
		width: 80px;
		margin: 1px;
	}
	&_bottom {
		text-align: center;
		padding: 15px 0;
		font-size: 14px;
		color: #999;
		span {
			color: green;
		}
	}
	&_mover {
		@include flexy;
		position: fixed;
		bottom: 5px;
		right: 5px;
		background-color:$red;
		height: $big;
		width: $big;
		padding: 5px;
		i {
			color: #fff;
			font-size: $small;
			z-index: 0;
		}
		&:hover {
			text-decoration: none;
		}
	}
}
.sites {
	&_follow {
		margin-right: 16px;
		font-size: 14px;
		font-style: italic;
	}
	&_icon {
		flex-wrap: wrap;
		i {
			margin: 0 7px;
			color: $blue;
		}
	}
}
.block {
	&_text {
		font-size: 13px;
		color: green;
		margin-bottom: 0;
		&:hover {
			color: #999;
			transition: 0.5s;
		}
	}
	&_date {
		margin-top: 5px;
		font-size: 12px;
		font-weight: italic;
	}
	&_text, &_date {
		margin-left: 15px;
	}
}

/* ========== MEDIA QUERIES ========== */

@media (max-width: 1200px) {

	.blog img {
		width: 300px;
	}
}
@media (max-width: 992px) {

	.nav-link-my {
		font-size: 14px;
	}
	.blog img {
		width: 2$small;
	}
	.gallery {
		&_title, i {
			font-size: 17px;
		}
	}
}
@media (min-width: 768px) and (max-width: 992px) {
	.carousel {
		&_mogo {
			font-size: 55px;
		}
		&_p {
			font-size: 90px;
		}
	}
	.place {
		img {
			width: 1$mid;
			height: 1$mid;
		}
		.paragraph {
			&_text {
				font-size: 17px;
			}
			&_author {
				font-size: 14px;
			}
		}
	}
}
@media (max-width: 862px) {
	.pictures img {
		max-width: 70px;
	}
}
@media (max-width: 768px) {

	.nav-link-my {
		font-size: 12px;
	}
	.blog {
		&_date {
			padding: 6px $ten;
		}
		&_day {
			font-size: 16px;
		}
		&_month {
			font-size: 14px;
		}
		img {
			width: 160px;
		}
	}
	.mover {
		height: $mid;
		width: $mid;
	}
}
@media (min-width: 768px) {
	.navbar-my {
		transition: all 1s ease-in-out;
	}
	.story_show {
		margin-bottom: $small;
	}
}
@media(min-width: 576px) and (max-width: 768px) {
	.carousel {
		&_mogo {
			font-size: 48px;
		}
		&_p {
			font-size: 75px;
		}
	}
	.info_number {
		font-size: 55px;
	}
	.info_text {
		font-size: 17px;
	}
	.team_square {
		@include flexy;
		height: 25px;
		width: 25px;
		&:hover {
			text-decoration: none;
		}
		i {
			font-size: $ten;
		}
	}
	.place {
		img {
			width: 110px;
			height: 110px;
		}
		.paragraph {
			&_text {
				font-size: 13px;
			}
			&_author {
				font-size: 12px;
			}
		}
	}
}
@media (max-width: 640px) {

	.nav-link-my {
		font-size: 13px;
	}
	.place {
		padding-top: 30px;
		img {
			display: none;
		}
		&_paragraph {
			width: 100%;
			margin-left: $mid;
			margin-right: $mid;
		}
		.paragraph {
			&_text {
				font-size: 12px;
			}
			&_author {
				font-size: 11px;
			}
			&_line:before {
				content: "";
				width: $mid;
				border-bottom: 2px solid red;
				display: block;
				position: absolute;
				left: -$big;
				top: $ten;
			}
		}
	}
}
@media (max-width: 600px) {
	header nav button:focus {
		outline: none;
	}
	.navbar-collapse-my {
		background: $tran;
		display: block;
		text-align: center;
	}
}
@media (max-width: 576px) {
	body {
		padding-top: 55px !important;
	}
	.navbar {
		position: fixed !important;
		top: 0;
		right: 0;
		left: 0;
		opacity: 1 !important;
		z-index: 1030;
		background: $red !important;
	}
	.carousel {
		&_mogo {
			font-size: 38px;
		}
		&_p {
			font-size: 56px;
		}
	}
	.usless {
		display: none;
	}
	.main-ul li:hover .nav-link {
		border-bottom: none !important;
		color: #FFFF33;
		transform: scale(1.2);
		transition: 1s;
	}
	.info_number {
		font-size: 45px;
	}
	.info_text {
		font-size: 16px;
	}
	.blog{
		&_pack {
			margin-top: 30px;
		}
		&_date {
			left: $mid;
		}
		&_month {
			font-size: 15px;
		}
		&_day {
			font-size: 24px;
		}
		img {
			width: 380px;
		}
	}
	.position {
		position: $rel;
	}
	.layer3 {
		height: 100%;
		z-index: 100 !important;
	}
}
@media (max-width: 450px) {
	.info_number {
		font-size: $mid;
	}
	.info_text {
		font-size: 15px;
	}
	.design_tablet {
		width: 280px;
	}
	.design_phone {
		width: 130px;
	}
}
@media (max-width: 400px) {
	.carousel {
		&_mogo {
			font-size: 28px;
			margin-bottom: 15px;
		}
		&_p {
			margin-top: 30px;
			font-size: 35px;
		}
	}
	.info_number {
		font-size: 32px;
	}
	.info_text {
		font-size: 11px;
	}
}
@media(max-width: 360px) {
	.info_number {
		font-size: 25px;
	}
	.info_text {
		font-size: 9px;
	}
}