$gradient: linear-gradient(to bottom, rgba(243,129,129,0.9), rgba(252, 227, 138, 0.9));
$line: 2px solid #F38181;
$blue: #95e1d3;
$red: #F38181;
$bl: black;
$ten: 10px;
$small: 20px;
$mid: 40px;
$big: 50px;
$rel: relative;
$tran: transparent;